<a href="https://colab.research.google.com/github/Siddharth230/T-GCN/blob/master/Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 17.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=f15215e3eba7075a17486b4238f11dd621872da54e8b46182b2febd78e9169cf
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("MyFirstApp").getOrCreate()

In [6]:
spark.read.option('header','true').csv('/content/dataset.csv').show()

+-----+---+------+
|Price|Qty|Amount|
+-----+---+------+
| 1076| 10| 10760|
| 2215|  7| 15505|
|  570|  3|  1710|
| 1201|  3|  3603|
|  317| 10|  3170|
|  903|  8|  7224|
| 1753|  7| 12271|
|  386|  1|   386|
| 2694|  1|  2694|
| 1117|  4|  4468|
|  655| 10|  6550|
|  483|  3|  1449|
| 1155| 10| 11550|
| 2612|  4| 10448|
| 1189|  2|  2378|
| 1182|  2|  2364|
| 2467| 10| 24670|
|  323|  5|  1615|
| 1013|  4|  4052|
| 1725|  5|  8625|
+-----+---+------+
only showing top 20 rows

In [11]:
pdf = spark.read.option('header','true').csv('/content/dataset.csv')

In [13]:
pdf.show()

+-----+---+------+
|Price|Qty|Amount|
+-----+---+------+
| 1076| 10| 10760|
| 2215|  7| 15505|
|  570|  3|  1710|
| 1201|  3|  3603|
|  317| 10|  3170|
|  903|  8|  7224|
| 1753|  7| 12271|
|  386|  1|   386|
| 2694|  1|  2694|
| 1117|  4|  4468|
|  655| 10|  6550|
|  483|  3|  1449|
| 1155| 10| 11550|
| 2612|  4| 10448|
| 1189|  2|  2378|
| 1182|  2|  2364|
| 2467| 10| 24670|
|  323|  5|  1615|
| 1013|  4|  4052|
| 1725|  5|  8625|
+-----+---+------+
only showing top 20 rows

In [14]:
type(pdf)

pyspark.sql.dataframe.DataFrame

In [15]:
pdf.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Qty: string (nullable = true)
 |-- Amount: string (nullable = true)

In [16]:
pdf.head(10)

[Row(Price='1076', Qty='10', Amount='10760'),
 Row(Price='2215', Qty='7', Amount='15505'),
 Row(Price='570', Qty='3', Amount='1710'),
 Row(Price='1201', Qty='3', Amount='3603'),
 Row(Price='317', Qty='10', Amount='3170'),
 Row(Price='903', Qty='8', Amount='7224'),
 Row(Price='1753', Qty='7', Amount='12271'),
 Row(Price='386', Qty='1', Amount='386'),
 Row(Price='2694', Qty='1', Amount='2694'),
 Row(Price='1117', Qty='4', Amount='4468')]